{{dash-board title="shot" projectTitle=model.project.title}}

{{#if model.shots}}
	<span>You have {{model.shots.length}} shots in your project</span>
{{/if}}

<div class="shots">
	{{#each model.shots as |shot| }}
		<div class="shot">
			<h4>
				{{#link-to 'shots' shot.id }}
					{{ shot.title }}
				{{/link-to}}
			</h4>
		</div>
	{{else}}
	  <p>
	    No shots here...
	  </p>
	{{/each}}
</div>

{{outlet}}
