<!-- The project creation html should live elsewhere. Wireframe suggests turning it into a component -->
<!-- <div class="add-proj">
	<div class="field">
		<span>Title:</span> {{input value=title}}
	</div>

	<div class="field">
		<span>Description:</span> {{input value=description}}
	</div>

	<button {{action 'addProject'}}>Add Project</button>
</div> -->
{{dash-board title="project" create="create"}}

{{#each model as |project| }}
	<div class="project">
		<h4>
			{{#link-to 'project' project }}
				{{ project.title }}
			{{/link-to}}
		</h4>
	</div>
{{else}}
  <p>
    No projects here...
  </p>
{{/each}}

{{outlet}}
