<h1>Dashboard</h1>
<div class="tabs">
  {{#link-to 'singles'}}Singles{{/link-to}}
  {{#link-to 'projects'}}Projects{{/link-to}} 
  {{#if projectTitle }}
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{projectTitle}}
  {{/if}}
  <!-- <button {{action "create"}} class="create-new">+ New {{title}}</button> -->
  {{#if isProject}}
    {{#link-to "projects.create_project" class="create-new"}}+ New {{title}}{{/link-to}}
  {{else if projectTitle}}
    {{#link-to "project.create_shot" class="create-new"}}+ New {{title}}{{/link-to}}
  {{else}}
    {{#link-to "singles.create_shot" class="create-new"}}+ New {{title}}{{/link-to}}
  {{/if}}
</div>

{{yield}}
