<h1>Dashboard</h1>
<div class="tabs">
  {{#link-to 'singles'}}Singles{{/link-to}}
  {{#link-to 'projects'}}Projects{{/link-to}} 
  {{#if projectTitle }}
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{projectTitle}}
  {{/if}}

  {{#if isProject}}
    <button class="create-new">{{#link-to "projects.create_project" class="create-new"}}+ New {{title}}{{/link-to}}</button>
  {{else if projectTitle}}
    <button class="create-new">{{#link-to "project.create_shot" class="create-new"}}+ New {{title}}{{/link-to}}</button>
  {{else}}
    <button class="create-new">{{#link-to "singles.create_shot" class="create-new"}}+ New {{title}}{{/link-to}}</button>
  {{/if}}
</div>

{{yield}}
