<!-- The shot creation html should live elsewhere. Wireframe suggests turning it into a component -->
<!-- <div class="add-single">
	<div class="field">
		<span>Title:</span> {{input value=title}}
	</div>

	<div class="field">
		<span>Description:</span> {{input value=description}}
	</div>

	<button {{action 'addSingle'}}>Add Single</button>
</div> -->
{{dash-board title="single" create="create"}}

{{#each model as |shot| }}
	<div class="single">
    <h4>
			{{#link-to 'shots' shot }}
				{{ shot.title }}
			{{/link-to}}
		</h4>

		<span class="desc">{{ shot.description }}</span>
	</div>
{{else}}
  <p>
    No singles here...
  </p>
{{/each}}

{{outlet}}
